ul{margin:0; padding:0; list-style-type:none;}
	li{margin:0; padding:0;}

form{}
	form input{background:none; border:0; color:#00ade6; text-decoration:none; cursor:pointer;}
	form input:hover{text-decoration:underline;}

a,
a:link{}
a:active{}
a:focus{}
a:hover{}
a:visited{}
	a img{}