/* OPUS */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
.opus .inferno table {margin-left:0px; border: none;} 
.opus .inferno div   {margin-left:114px; font-size: 12pt}
.opus .inferno span {display:block;width:645px;font-family:Time,serif;color:black;}
.opus .inferno h1 {
   color:black;
   display:inline-block;
   overflow:hidden;
   border:0;
   font-family:Time,serif;
   font-size: 18px;
   margin-bottom:1px;
   text-transform: none;
} 
