/* INSCRIPTION - PÉRIODE */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

// SPÉCIAL
// Formatter 1er
.inscription .premier{font-size:0.75em;}
// Désactiver un élément en l'affichant en gris.
.inscription .desactive {background-color:gray;opacity: 0.25;}


// GÉNÉRAL
.select-form-control{background:url('/assets/images/general/formulaire/formulaire_select-bouton.jpg') no-repeat right -1px; width:auto; height:22px; overflow:hidden; border:1px solid #0079a0; border-right:0; border-radius:4px;}
.select-form-control select{background:transparent; position:relative; width:100%; height:20px; padding:0 25px 0 0; color:#0079a0; border:0; -webkit-appearance:none; -moz-appearance:none;  appearance:none;}
.select-form-control select::-ms-expand,
.select-form-control select:before{background:#fff; content:""; display:none;}

.bg-uqam{background:#e5edf0; margin:0 0 45px 0; padding:22px;}

.inscription{width:100%;}
    .inscription .periode{width:100%;}
        
        // ENTÊTE
        .inscription .periode h2{text-transform:none;}
        .inscription .periode h2:first-letter{text-transform:uppercase;}
        .inscription .periode .form{margin:0 0 30px 0;}
            .inscription .periode .form div{}
                .inscription .periode .form div label{font-weight:normal;}
            .inscription .periode .form div{}
                /*.inscription .periode .form div.select-form-control{background:url('/assets/images/general/formulaire/formulaire_select-bouton.jpg') no-repeat right -1px; width:auto; height:22px; overflow:hidden; border:1px solid #0079a0; border-right:0; border-radius:4px;}
                    .inscription .periode .form div.select-form-control select.form-control{background:transparent; position:relative; width:100%; height:20px; padding:0 25px 0 5px; color:#0079a0; border:0;
                       -moz-appearance: none;
                       -webkit-appearance: none;
                    }
                    .inscription .periode .form div.select-form-control select.form-control::-ms-expand{display:none;}*/
        
        // MESSAGE
        .inscription .periode .bg-info{margin:0 0 30px 0}

        // TABLEAU
        .inscription .periode div.table-responsive{margin:0 0 60px 0;}
        .inscription .periode div table,
        .inscription .periode div table.table,
        .inscription .periode div table.table-bordered,
        .inscription .periode div table.table-condensed{margin:0; border:0; border-bottom:#80a6b3 1px solid; border-top:#004e68 3px solid;}
            .inscription .periode div table thead{}
                .inscription .periode div table thead tr{}
                    .inscription .periode div table thead tr th{height:40px; color:#004e68; font-family:'Conv_Dosis-Bold',arial,sans-serif; line-height:110%; text-transform:uppercase; border-color:#b3cad0; border-bottom:#004e68 3px solid; vertical-align:middle;}
                        .inscription .periode div table thead tr th .btn{margin:0;}
                    .inscription .periode div table thead tr td{border-bottom:#004e68 3px solid; vertical-align:middle;}

            .inscription .periode div table tbody{}
                .inscription .periode div table tbody tr{}
                    .inscription .periode div table tbody tr th{border-color:#b3cad0; vertical-align:top;}
                    .inscription .periode div table tbody tr td{border-color:#b3cad0; border-top:0; border-bottom:0; vertical-align:top;}
                        .inscription .periode div table tbody tr td h5{font-family:arial,sans-serif; font-weight:bold; text-transform:none;}
                        .inscription .periode div table tbody tr td div{position:relative; color:#fff; line-height:125%;}
                            .inscription .periode div table tbody tr td div div:nth-child(1){background:#0182ac; height:54px; padding:10px 15px 10px 7px;}
                            .inscription .periode div table tbody tr td div div:nth-child(2){position:absolute; background:#014e68; left:50%; width:20px; height:54px; margin:0 0 0 -10px; z-index:5; overflow:hidden;}
                                .inscription .periode div table tbody tr td div div:nth-child(2):before{
                                    position:absolute; top:-5px; left:3px; display:block; content:""; width:0; border-style:solid; border-width:32px 0 32px 17px; border-color:transparent transparent transparent #fff;
                                }
                                .inscription .periode div table tbody tr td div div:nth-child(2):after{
                                    position:absolute; top:-5px; display:block; content:""; width:0; border-style:solid; border-width:32px 0 32px 17px; border-color:transparent transparent transparent #0182ac;
                                }
                            .inscription .periode div table tbody tr td div div:nth-child(3){background:#014e68; height:54px; padding:10px 7px 10px 15px;}
                                .inscription .periode div table tbody tr td div div strong{font-size:120%;}
                        
                        .inscription .periode div table tbody tr td table{width:100%; border-top:0; border:0;}
                            .inscription .periode div table tbody tr td table tr{border:0;}
                                .inscription .periode div table tbody tr td table tr td{padding:0 0 10px 0; border:0;}

            .inscription .periode div table tfoot{}
                .inscription .periode div table tfoot tr{}
                    .inscription .periode div table tfoot tr th{border-color:#b3cad0;}
                    .inscription .periode div table tfoot tr td{border-color:#b3cad0;}

        // LÉGENDE
        .inscription .periode .bg-uqam{border:#78b9cb 1px solid;}
            .inscription .periode .bg-uqam div.table-responsive{margin:0;}
                .inscription .periode .bg-uqam div.table-responsive table,
                .inscription .periode .bg-uqam div.table-responsive table.table,
                .inscription .periode .bg-uqam div.table-responsive table.table-condensed,
                .inscription .periode .bg-uqam div.table-responsive table.bordered{border:0; border-top:1px solid #a0c0cb;}
                    .inscription .periode .bg-uqam div table thead{}
                        .inscription .periode .bg-uqam div table thead tr{}
                            .inscription .periode .bg-uqam div table thead tr th{border:0;}
                            .inscription .periode .bg-uqam div table thead tr td{border:0;}

                    .inscription .periode .bg-uqam div table tbody{}
                        .inscription .periode .bg-uqam div table tbody tr{}
                            .inscription .periode .bg-uqam div table tbody tr th{border:0;}
                            .inscription .periode .bg-uqam div.table-responsive table tbody tr td{padding:10px; border:0; border-bottom:1px solid #a0c0cb;}
                            .inscription .periode .bg-uqam div table tbody tr td:first-child{padding-left:0; padding-right:40px; color:#004e68; font-weight:bold;}
                                .inscription .periode .bg-uqam div table tbody tr td span{position:relative; display:inline-block; padding:0 0 0 15px;}
                                    .inscription .periode .bg-uqam div table tbody tr td span:before{background:#6695a4; content:""; position:absolute; top:6px; left:0; display:block; width:8px; height:8px;}
                                .inscription .periode .bg-uqam div table tbody tr td p{margin:5px 0 0 15px; color:#000; font-weight:normal;}

                    .inscription .periode .bg-uqam div table tfoot{}
                        .inscription .periode .bg-uqam div table tfoot tr{}
                            .inscription .periode .bg-uqam div table tfoot tr th{border:0;}
                            .inscription .periode .bg-uqam div table tfoot tr td{border:0;}
